:php
  /**
   * The template for displaying the footer.
   *
   * Contains the closing of the #content div and all content after
   *
   * @package LifeSpan
   */
footer
  .container-fluid.matchbook
    .container
      .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
        !=the_field('statement', 'option')
  
  .container-fluid.bottom
    .container  
      span.copyright
        span.year
        !=the_field('copyright', 'option')
  




:php
  wp_footer();
