.container-fluid.offering-details
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        h1!=the_field('course_title')
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        !=the_field('course_description_brief')
        !=the_field('course_description')
    .row
        - foreach(get_field('course_details') as $details):
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              h4!= $details['detail_title']
              ul.equal-heights
                - foreach($details['detail_list'] as $item):
                  li!=$item['detail_item']
                - endforeach;
        - endforeach;
