
- function printDetails($details) {
  ul
    - foreach($details as $detail):
        li(data-parent!="<?php echo createAnchor($detail['detail_title']); ?>").detail-title!=$detail['detail_title']
          ul
            - foreach($detail['detail_list'] as $list_item):
              li!=$list_item['detail_item']
            - endforeach
    - endforeach  
- }
:php
  // The Query
  $offerings = array();
  $offering_posts = get_field('offerings');

  if( $offering_posts ):
    foreach( $offering_posts as $post):
      setup_postdata($post);
      $permalink = '/what-we-offer/'.$post->post_name;

      $offering = array(
        'course_title' => get_field('course_title'),
        'course_description_brief' => get_field('course_description_brief'),
        'course_details' => get_field('course_details'),
        'url' => $permalink
      );
      
  		array_push($offerings, $offering);

    endforeach;
    wp_reset_postdata();
  endif;



.container-fluid.whatweoffer
  .container
    - if(is_page('home')):
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h3.styled What We Offer
    - endif
      
    .row
      - foreach($offerings as $key => $offering):
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .offering-wrap.equal-heights
            a(href!="<?php echo $offering['url']; ?>").offering
              h4!=$offering['course_title']
              .description
                !=$offering['course_description_brief']
      - endforeach
