:php
  get_template_part( 'partials/head' );
  get_template_part( 'partials/header' );

.container-fluid
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        h2 Page Not Found
        p Sorry the page you're looking for doesn't exist.
  
:php
  get_template_part( 'partials/footer' );
