doctype
html(<?php language_attributes(); ?>)
  :php
    get_template_part('partials/head');

  body(<?php body_class(); ?>, id="blah")
    :php
      get_template_part('partials/nav');
    h1 Blah Blah BLAH!!!
