:php
  // Template Name: Home
  get_template_part( 'partials/head' );
  get_template_part( 'partials/header' );
  
.wrapper

  :php
    //- get_template_part( 'partials/hero' );  

    get_template_part( 'partials/home/leadin' );  

    get_template_part( 'partials/offerings/tiles' );
    
    get_template_part( 'partials/home/philosophy' );

  :php
    get_template_part( 'partials/footer' );
