:php
  // Template Name: Offering
  get_template_part( 'partials/head' );
  get_template_part( 'partials/header' );

  get_template_part( 'partials/offerings/details' );
  
:php
  get_template_part( 'partials/footer' );
