:php
  // Template Name: What We Offer
  get_template_part( 'partials/head' );
  get_template_part( 'partials/header' );

  get_template_part( 'partials/offerings/leadin' );

  get_template_part( 'partials/offerings/tiles' );
  
:php
  get_template_part( 'partials/footer' );
