.container-fluid.leadin
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h1
            :php
              the_field('lead_in_header')
          :php
            the_field('lead_in_text');
