:php
  $picture = get_field('picture');
  
.container-fluid
  .container.philosophy
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        h3.styled
          :php
            the_field('philosophy_title')

      .col-lg-10.col-md-9.col-sm-9.col-xs-12.philosphy-body
        :php
          the_field('philosophy_body')
      .col-lg-2.col-md-3.col-sm-3.hidden-xs
        img(src!="<?php echo $picture['url']; ?>" alt!="<?php echo $picture['alt'] ?>").img-responsive
